* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
.navbarContainer {
  background-color: rgb(129, 188, 227);
  height: 50px;
}
.navbarLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  padding: 2px 5px;
}
.navbarLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 800;
}
.link {
  padding: 0 10px;
  text-decoration: none;
}
/* @media (min-width: 800px) {
  .navbarContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 8% 85% 5%;
  }
} */

@media (min-width: 600px) {
  .navbarContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 85% 5%;
  }
}

@media (min-width: 300px) {
}
.mainBody {
  text-align: center;
}
